<?php

return array(
    'default' => array(
        'connection'  => array(
            'dsn'        => 'mysql:host=HOSTNAME:PORT;dbname=DATABASE',
            'username'   => 'DB_USER',
            'password'   => 'DB_PASS',
        ),
    ),
);
