body {
	    background-image: url('../img/padded.png');
	    font-family: 'Josefin Sans', sans-serif;
	    font-size:17px;
	    font-weight: 300;
	    letter-spacing:2px;
	    color:#dedede;
			font-smooth: auto;
			padding-top:50px;

}
footer {
		    padding-top:50px;
		    padding-bottom:50px;
}

* {
    -webkit-transition: color,border,background,opacity 500ms ease-out 0s;
    -moz-transition: color,border,background,opacity 500ms ease-out 0s;
    -o-transition: color,border,background,opacity 500ms ease-out 0s;
    transition: color,border,background,opacity 500ms ease-out 0s;
}


.modal-title {
	text-align:center;
	    letter-spacing: 5px;
}
.modal-dialog {
	    margin-bottom: 80px ;
			margin-top:100px!important;
}
.modal-content {
	border-radius: 0;
        background: rgba(10, 10, 10, 0.79);
    border: 1px solid rgba(4, 123, 218, 0.4);
        border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modal-header {
    border-bottom: 1px solid rgba(4, 123, 218, 0.2);
}
.modal-footer {
    border-top: 1px solid rgba(4, 123, 218, 0.4);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:0;
    border:0;
        background: rgba(255, 255, 255, 0.04);
}
.modal-footer .btn {
	text-transform:uppercase;
	color:white;
	font-size:17px;
}

.main-logo {
	opacity: .8;
}

.main-logo:hover {
	opacity: 1;
}

.form-control {
	border-radius: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #017cdb;
    font-weight: 300;
    color: #209eff;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 10px;
    height:50px;
    padding:0;
    padding-left:20px;
    padding-right:20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: #209eff;
	-webkit-transition: color 9999s ease-out, background-color, box-shadow 9999s ease-out;
    -webkit-transition-delay: 9999s;
    outline:none;


}

textarea.form-control {
	min-height:300px;
	padding:20px;
}
.form-control:hover, .form-control:active, .form-control:focus {
	border-bottom:3px solid #2ea4ff;box-shadow:none!important;
}


img {
	max-width:100%;
}

a {
	color: #209eff;
	cursor:pointer;
	font-weight: bold;
}
a:hover,a:focus,a:active {
	text-decoration:none;
	    color: #b1d4ef;
	outline:0;
}
hr {
	    border-top: 1px solid #118dec;
    box-shadow: 0px 0px 20px #118dec;
}

.toolbar-bottom {
	position:fixed;
	bottom:0;
	left:0;
	padding:30px;
}

.toolbar-top-right {
	position:fixed;
	top:0;
	right:0;
	padding:30px;
}
.level {
	position:fixed;
	top:30px;
	left:30px;
	margin:0;
}
.experience {
	position:fixed;
	width:100%;
	top:0;
	left:0;
	height:3px;
	border-bottom:1px solid rgba(17, 141, 236, 0.45);
	background: rgba(17, 141, 236, 0.25);
}

.experience div {
	background-color: #118dec;
	height:100%;
}

.countdown-bottom {
	position:fixed;
	width:100%;
	bottom:0;
	left:0;
	height:3px;
	border-top:1px solid rgba(255, 255, 255, 0.25);
	background: rgba(255, 255, 255, 0.25);
}

.countdown-bottom div {
	background-color: white;
	height:100%;
}
.navbar-collapse {
	
}
.icon-bar {
    background-color: white;
}.icon-bar {
    width: 28px;
    height: 3px;
}
.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.45);
    border: 0;

		min-height:0;
}

.navbar-toggle {
	border-radius:0;
	border-color:white;
	border:0;
	bottom: 10px;
	right: 10px;
	z-index:1035;
	position:fixed;
	opacity:.8;
}

.navbar-toggle[aria-expanded="true"] {
	display:none;
}

.navbar-toggle {
	margin-top: 0px;
}
.navbar-default .navbar-toggle {
	border:none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border:0;
	box-shadow:none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-toggle .icon-bar {
    width: 28px;
    height: 3px;
}

.navbar-default .navbar-nav>li>a {
    color: #209eff;
    font-size:20px;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:active {
    color: #b1d4ef;
}

.nav>li {
	display: inline-block;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	    background: transparent;
    color: #ff9d00;
}
.btn {
	background:transparent;
	color: #209eff;
	font-size:21px;
	letter-spacing:2px;
	outline: none;
	border:0;
	transition:inherit;
    margin-bottom: 10px;
		    margin-top: 12px;
        letter-spacing: 3px;
}

.btn-group-sm>.btn, .btn-sm {
	font-size:16px;
}

.btn:hover, .btn:focus, .btn:active, .btn:active:focus, .btn:active:hover{
	background:transparent;
	border:0;outline: none;
	color: #2ea4ff;
}

.btn-default {

}

.btn-success {
	color: #2ad603;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
	color:#21a902;
}

.btn-danger {
	color: #c73a36;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
	color:#9c403e;
}

.btn-warning {
	color: #c79641;
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
	color:#8a6d3b;
}


.alert {
	    border-radius: 2px;
    background: transparent;
    font-size: 17px;
}

.alert-danger {
    background: rgba(156, 64, 62, 0.07);
    border: 1px solid #9c403e;
    color: #ff8683;
}

.alert-danger:hover {
	background: rgba(156, 64, 62, 0.11);
}
.alert-success {
	    color: #3bd63e;
        background: rgba(60,118,61,0.07);
    border-color: #3c763d;
}
.alert-success:hover {
	background: rgba(60,118,61,0.11);
}
.alert-info {
	    color: #32b0ef;
        background: rgba(49,112,143,0.07);
    border-color: #31708f;
}
.alert-info:hover {
	background: rgba(49,112,143,0.11);
}
.alert-warning {
	    color: #f1a21a;
        background: rgba(138,109,59,0.07);
    border-color: #8a6d3b;
}
.alert-warning:hover {
	 background: rgba(138,109,59,0.11);
}

.well {
	    padding: 25px;
    background: rgba(255, 255, 255, 0.03);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.well-blue {
	    background-color: rgba(0, 144, 255, 0.05);
}

.well-dark {
	background-color: rgba(0, 0, 0, 0.19);
}


.table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid rgba(221, 221, 221, 0.1);
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid rgba(221, 221, 221, 0.1);
}

.table>thead>tr>th {
    border-bottom: 2px solid rgba(221, 221, 221, 0.2);
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 13px;
    }


a.list-group-item, button.list-group-item {
    color: #c1c1c1;
    border-bottom:0;
}

.list-group-item {
    padding: 20px 25px;
        background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.15);     color: #c1c1c1;
}

.list-group-item:first-child {
    border-top-left-radius: 24px;

    }

.list-group-item:last-child {
border-bottom-right-radius: 24px;}


.tutorial-notice {
	position: fixed;
	top: 40%;
	left: 0;
	padding:15px;
	padding-left:25px;
	color: white;
	font-size:20px;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: rgb(32, 32, 32);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(69, 69, 69);
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(89, 89, 89);

}


.panel-default {
	color: rgb(199, 199, 199);
    background-color: black;
    background-color: rgba(56, 57, 62, 0.47);
    border-radius: 0;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.06), 0 3px 5px rgba(0,0,0,0.3);
    border: 1px solid rgba(255, 255, 255, 0.09);
    margin-bottom: 10px;
}

.panel-default .panel-heading {
	border-radius:0;
	    background: rgba(0, 0, 0, 0.31)!important;
    border:0;
    color:#D1D8DF;
		white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.panel-heading, .panel-footer {
	padding: 15px 25px;
}

.panel-default .panel-footer {
	border-radius:0;
	    background: rgba(0, 0, 0, 0.31)!important;
    border:0;color:#D1D8DF;
		white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


.table {
	margin-bottom: 0;
}
